html {
    overflow: hidden;
    font-family: "Inter", sans-serif;
}

body {
    margin: 0;
    background-color: #fff;
}

a {
    text-decoration: none;
}

input{
    all:unset;
    border-bottom: 1px solid #444;
}

.header {
    position: relative;
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    margin-top: 1vh;
}

.header img {
    width: 8vh;
}

.header-img {
    margin-left: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 15%;
    height: 100%;
    /* justify-content: center; */
    align-items: center;
}

.header-img p {
    color: #444;
    font-size: 25px;
    width: 60%;
}

.header-hrefs {
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.header-hrefs a {
    padding: 1%;
    color: #444;
    border-radius: 18px;
    transition: 0.25s;
}

.header-hrefs a:hover {
    background-color: #444;
    padding: 2%;
    color: #FFF;
    border-radius: 18px;
    transition: 0.25s;
}

.cuerpo{
    padding-left: 5.208vw;
	padding-right: 5.208vw;
}

.sobre{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    color: #757272;
}

.filtro{
    display: flex;
    flex-direction: row;
    width: 40%;
    font-size: 25px;
    align-items: center;
    height: 50px;
    justify-content: space-between;
}

.reportes{
    display: flex;
    width: 40%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:#FFF
}

.graficos{
    display: flex;
    background-color: #79A3FF;
    width: 45%;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 15px;
}

.tabla{
    display: flex;
    background-color: #444444;
    width: 45%;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 15px;
}

.contenedor{
    background-color: #EEEEEE;
    height: 74vh;
    overflow-y: scroll;
    padding-bottom: 10px;
    /* margin-top: -10px; */
}

.primerLinea{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2.5%;
    margin-top: 20px;
}

.segundaLinea{
    width: 95%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2.5%;
}

.exCard{
    background-color: #fff;
    box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    width: 30%;
    height: 260px;
    align-items: center;
}

.examenes{
    position: relative;
    margin-left: .1vw;
    width: 60vw;
    background-color: #EEEEEE;
    height: 39vh;
    border-radius: 1vw;
    overflow: visible;
    overflow-x: hidden;
    padding: 15px;
}

.tabla-container-header {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #757272;
  }
  
.tabla-container-parent {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-collapse: collapse;
    border-radius: 1vw;
  }

.tabla-container-header-columna-1 {
    width: 16.6%;
    padding-left: 1vw;
  }
.tabla-container-header-columna-2 {
    width: 22.6%;
    padding-left: 1vw;
  }
.tabla-container-header-columna-3 {
    width: 12.6%;
    padding-left: 1vw;
  }
.tabla-container-header-columna-4 {
    width: 12.6%;
    padding-left: 1vw;
  }
.tabla-container-header-columna-5 {
    width: 12.6%;
    padding-left: 1vw;
  }
.tabla-container-header-columna-6 {
    width: 10.6%;
    padding-left: 1vw;
  }
.tabla-container-body-columna-1 {
  width: 16.6%;
  padding-left: 1vw;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.tabla-container-body-columna-2 {
  width: 22.6%;
  padding-left: 1vw;
}
.tabla-container-body-columna-3 {
  width: 12.6%;
  padding-left: 1vw;
}
.tabla-container-body-columna-4 {
  width: 12.6%;
  padding-left: 1vw;
}
.tabla-container-body-columna-5 {
  width: 12.6%;
  padding-left: 1vw;
}
.tabla-container-body-columna-6 {
  width: 10.6%;
  padding-left: 1vw;
}
.tabla-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-shadow: 0px 0px 6px 4px rgba(150, 150, 150, 0.26);
    margin-bottom: 5px;
    border-radius: 1vw;
  }
.tabla-card:nth-child(odd) {
    background-color: #FFFFFF; /* Color blanco para los elementos impares */
  }
  
.tabla-card:nth-child(even) {
    background-color: #C9DAFF; /* Color azul para los elementos pares */
  }
::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
    background-color: #d9d9d9;
    border-radius: 10px;
  }
  
::-webkit-scrollbar-thumb {
    background: #79a3ff;
    border-radius: 10px;
  }
  
::-webkit-scrollbar-thumb:hover {
    background: #5d83d6;
  }

canvas{
    margin-left: 43px;
}